:root {
    --branco-principal: #FFFFFF;
    --cinza-secund치rio: #C0C0C0;
    --botao-roxo: #4b15df;
    --cor-de-fundo: #030224;
    --fonte-principal: 'inter';
    --botao-roxo-efeito: #674be2; 
    
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

* {
    margin: 0;
    padding: 0;

}

.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-roxo);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
   font-size: 12px; 
   color: var(--cinza-secund치rio);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;

}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secund치rio);
}

.botao_secundario {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape__lista {
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration:none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secund치rio);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.lista__link a:hover {
    color: var(--botao-roxo)
}

.lista__link a:active{
    color: rgb(128, 36, 36);
}

.container__botao:hover {
   background-color: var(--botao-roxo-efeito); 
   color: var(--cor-de-fundo);
}
